apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: false
    jsonData:
      derivedFields:
        - name: trace_id
          matcherRegex: '"trace_id":"([^"]*)"'
          url: 'http://jaeger:16686/trace/$${__value.raw}'
    editable: true
